.projetos{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    margin-top: 6rem;
    &__titulo{
        font-size: 100px;
        text-align: center;
    }
    &__texto{
        width: 800px;
        text-align: justify;
        margin-bottom: 3rem;
        margin-top: 6rem;
        line-height: 20px;
    }
}